.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
.DS_Store
AMAS_ref/
chroma_ref/
notes/
chroma_storage/

**/chebi_kegg.json
**/chebi.owl.gz
**/kegg_compound_flats
**/reaction_flats

tests/results/**
tests/prev_results/
tests/autoType/

analysis/**

.vscode/

# testing files
**/scratch.ipynb
**/participants_likelihood*.csv
**/reaction_likelihood*.csv
**/AAAIM_species_result
**/BioModels_251106